.footer {
  background-color: #222222;
  padding: 150px 0px 150px 0px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  p {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .contact-us,
  .email-us,
  .follow-us {
    color: #727477;
    display: flex;
    flex-direction: column;
    .email-link {
      text-decoration: none;
      color: #f58627;
    }
    p {
      font-size: 28px;
    }
  }
  .contact-us {
    padding-left: 40px;
  }
  .email-us {
    align-items: flex-end;
    .email-us-wrap {
      display: flex;
      flex-direction: column;
    }
  }
  .follow-us {
    padding-right: 40px;
    justify-self: flex-end;
    .social-icons {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
    }
  }
  .heading {
    color: #ffffff;
    align-items: flex-start;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  @media (max-width: 1024px) {
    padding: 80px 0px 80px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    .contact-us,
    .email-us,
    .follow-us {
      display: flex;
      padding-left: 0px;
      .heading{
        font-size: 28px;
      }
      p{
        font-size: 20px;
      }
    }
    .contact-us{
      padding-left: 20px;
    } 
    .follow-us{
      padding-right: 20px;
      .social-icons{
        padding-top: 16px;
        max-width: 120px;
        .social-icon{
          width: 19px;
          height: 19px;
        }
      }
    }
    .email-us{
      .email-us-wrap{
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 60px 0px 60px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    .contact-us,
    .email-us,
    .follow-us {
      display: flex;
      padding-left: 0px;
      .heading{
        font-size: 22px;
        margin-bottom: 10px;
      }
      p{
        font-size: 16px;
      }
    }
    .contact-us{
      padding-left: 16px;
    } 
    .follow-us{
      padding-right: 16px;
      .social-icons{
        padding-top: 10px;
        max-width: 120px;
        .social-icon{
          width: 19px;
          height: 19px;
        }
      }
    }
    .email-us{
      .email-us-wrap{
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media (max-width: 480px) {
    padding: 25px 0px 25px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .contact-us,
    .email-us,
    .follow-us {
      display: flex;
      padding-left: 0px;
      align-items: center;
      .heading{
        font-size: 16px;
        line-height: 18px;
      }
      p {
        font-size: 12px;
      }
    }
    .contact-us {
      > span {
        text-align: center;
      }
    }
    .email-us{
      .email-us-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .follow-us{
      padding-top: 10px;
      justify-self: center;
      .social-icons{
        min-width: 90px;
      }
    }
  }
}
